.example-viewport {
  height: 100%;

  .example-dt {
    font-weight: bold;
    display: flex;
    justify-content: center;
    margin-left: 30px;
  }

  .example-dd {
    display: flex;
    justify-content: center;
    margin-left: 30px;
  }

  .example-card {
    justify-content: center;
    margin-left: 30px;
    margin-bottom: 20px;
  }

  .checkbox-style {
    color: mediumblue;
  }

  .info-style {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}