<div class="basic-pagination-scroll-container" *ngIf="visibleProducts.length">
	<ng-container *ngFor="let product of visibleProducts;">
		<app-product-card [product]="product"></app-product-card>
	</ng-container>
</div>
<div class="nav-buttons" *ngIf="visibleProducts.length">
	<button [disabled]="disablePrevious()" mat-raised-button color="primary" (click)="getPrevious()" class="prev-button">Previous</button>
    <span class="nav-button-text">{{this.currentOffset}} through {{this.currentOffset + this.currentLimit}}</span>
  <button [disabled]="disableNext()" mat-raised-button color = "primary" (click)="getNext()" class="next-button">Next</button>
</div>
<div *ngIf="!visibleProducts.length">No products to display</div>